.separation {
  display: flex;
  gap: 40px;
}

.header {
  color: var(--accent-color);
  display: flex;
  justify-content: space-between;  
  text-align: center;
  font-size: 16px;
  padding: 30px;
}
