.contactList {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: calc(2 * var(--gap-lg));
  transition: 1s;
}

.contactItem {
  display: flex;
  gap: var(--gap-sm);
  align-items: center;
  justify-content: center;
}

.contactItem h4 {
  max-width: 0;
  overflow: hidden;
  transition: max-width 1s;
  text-align: start;
}

.contactItem:hover {
  padding: 0 var(--padding-lg);
}

.contactList:has(> .contactItem:hover) {
  gap: var(--gap-sm);
}

.contactItem:hover h4 {
  max-width: 340px;
}

.contactItem:hover ~ * {
  animation: hide-icon 300ms ease-out forwards;
}

.contactItem:has(~ *:hover) {
  animation: hide-icon 300ms ease-out forwards;
}

@keyframes open-contact {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes select-icon {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide-icon {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@media (max-width: 1280px) {
  .contactList {
    gap: calc(1.5 * var(--gap-lg));
  }
}

@media (max-width: 768px) {
  .contactList {
    gap: var(--gap-lg);
  }
}

@media (max-width: 640px) {
  .contactList {
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: var(--gap-sm);
  }
}

@media (max-width: 475px) {
}
