.bentoGrid {
  width: 100%;
  margin-top: var(--gap-md);
  columns: 3;
  column-gap: 20px;
}

.bentoGridSkeleton {
  /* margin-bottom: 14px; */
  margin-bottom: var(--gap-sm);
}

.bentoGridImage {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 6px;
}

@media (max-width: 1024px) {
  .bentoGrid {
    columns: 2;
  }
}

@media (max-width: 640px) {
  .bentoGrid {
    columns: 1;
  }
}
