.appContainer {
  display: flex;
  padding: 0 0px;
}

.projectCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  gap: var(--gap-lg);
}

.cardText {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.expandedCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  text-align: center;
  gap: var(--gap-md);
}

.sideLogo {
  display: block;
}

.sideLogo img {
  border-radius: var(--corner-radius);
  object-fit: cover;
  height: 180px;
  width: 180px;
}

.bodyLogo {
  /* object-fit: cover; */
  display: none;
  /* width: auto; */
  /* height: auto; */
}

.bodyLogo img {
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: var(--corner-radius);
}

.expandedLogo {
  object-fit: cover;
  border-radius: var(--corner-radius);
  height: 150px;
  width: 150px;
}

.cardBody {
  display: flex;
  gap: var(--gap-lg);
}

.cardBody p {
  text-align: left;
}

.right {
  text-align: end;
}

.left {
  text-align: start;
}

.hoverCardTitle {
  transition-duration: 0.3s;
  cursor: pointer;
}

.hoverCardTitle:hover {
  padding-left: 50px;
}

.hoverExpandedCard {
  padding-right: 0;
  transition-duration: 0.3s;
  cursor: pointer;
}

.hoverExpandedCard:hover {
  padding-right: 50px;
}

/* Responsive Container */
@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
  .projectCard {
    justify-content: center;
  }
  .cardText {
    justify-content: center;
    text-align: center;
    gap: var(--gap-md);
    padding: 0;
  }
  .sideLogo {
    display: none;
  }
  .bodyLogo {
    display: block;
  }
  .left,
  .left h2 {
    text-align: center;
    align-self: center;
  }
  /* .hoverCardTitle:hover {
    padding-left: 0;
    padding-right: 50px;
  } */
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
  .cardBody {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .cardBody p {
    text-align: center;
  }
  .hoverCardTitle:hover {
    padding-left: 0;
    padding-right: 0;
    scale: 106%;
  }
  .hoverExpandedCard:hover {
    padding-right: 0;
    scale: 94%;
  }
}

@media (max-width: 475px) {
  .cardText {
    padding: 0 var(--padding-sm);
  }
  .bodyLogo {
    width: 50%;
    height: auto;
  }
  .expandedCard {
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
  }
}
