.appContainer {
  display: flex;
  padding: 0 0px;
}

.projectCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  gap: var(--gap-lg);
}

.cardText {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

/* .cardText h2 {
  text-align: center;
} */

/* .cardText h2:hover {
  font-weight: bold;
} */

.expandedCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  text-align: center;
  gap: var(--gap-md);
}

.sideLogo {
  /* background-color: white; */
  border-radius: 10px;
  object-fit: cover;
  height: 180px;
  width: 180px;
}

.bodyLogo {
  /* background-color: white; */
  object-fit: cover;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  display: none;
}

.expandedLogo {
  object-fit: cover;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

.cardBody {
  display: flex;
  gap: var(--gap-lg);
}

.cardBody p {
  text-align: left;
}

.right {
  /* padding-left: 100px; */
  text-align: end;
}

.left {
  /* padding-left: 100px; */
  text-align: start;
}

/* .left h2 {
  align-self: start;
} */

/* .middle {
  text-align: center;
} */

/* Responsive Container */
@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
  .projectCard {
    justify-content: center;
  }
  .cardText {
    justify-content: center;
    padding: 0;
    gap: var(--gap-md);
  }
  .sideLogo {
    display: none;
  }
  .bodyLogo {
    display: block;
  }
  .left,
  .left h2 {
    text-align: center;
    align-self: center;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
  .cardBody {
    flex-direction: column-reverse;
    align-items: center;
    /* text-align: center; */
  }
}

@media (max-width: 475px) {
  .cardText {
    padding: 0 var(--padding-sm);
  }
}
