:root {
  --primary-color: #d5dbce;
  --secondary-color: #191919;
  --tertiary-color: #7b9080;
  --accent-color: #8f8861;

  --section-max-w: 970px;

  --margin-sm: 100px;

  --padding-lg: 3rem;
  --padding-md: 2rem;
  --padding-sm: 1rem;

  --gap-lg: 50px;
  --gap-md: 30px;
  --gap-sm: 16px;

  --corner-radius: 6px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

html {
  height: 100%;
  scrollbar-gutter: stable both-edges;
}

body {
  background-color: var(--primary-color);
  min-height: 100lvh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

ol,
ul {
  list-style: none;
}

h1,
h4 {
  color: var(--secondary-color);
}

h2 {
  color: var(--accent-color);
}
p {
  color: var(--primary-color);
}

h3 {
  color: var(--tertiary-color);
}

h1 {
  font-size: 4.3rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.2rem;
}

p {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  position: relative;
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 var(--padding-lg);
}

.full-section {
  width: 100%;
  padding: calc(2 * var(--padding-lg)) var(--padding-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--gap-lg);
}

.section {
  padding: calc(2 * var(--padding-lg));
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--gap-lg);
}

.secondary-section {
  position: relative;
}

.secondary-section::before {
  content: "";
  background-color: var(--secondary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.self-right {
  align-self: flex-start;
  text-align: right;
}

.self-left {
  align-self: flex-end;
  text-align: left;
}

.w-100 {
  width: 100%;
}

/*#region Animations*/

.appear-fall-down {
  animation: fall-down 0.3s;
}

.appear-climb-top {
  animation: climb-top 0.3s;
}

.appear-slide-left {
  animation: slide-right 0.6s;
}

.appear-slide-right {
  animation: slide-left 0.6s;
}

.scroll-slide-left {
  animation: slide-left cubic-bezier(0.85, -0.01, 0.61, 0.95);
  animation-timeline: view();
  animation-range: entry -100% cover 20%;
}
.scroll-slide-right {
  animation: slide-right cubic-bezier(0.85, -0.01, 0.61, 0.95);
  animation-timeline: view();
  animation-range: entry -50% cover 20%;
}

.hover-shine:hover {
  width: fit-content;
  background: linear-gradient(
    to right,
    var(--accent-color),
    var(--primary-color),
    var(--accent-color)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 2s linear infinite;
  cursor: pointer;
}

.hover-grow:hover {
  scale: 105%;
}

@keyframes fall-down {
  from {
    opacity: 0;
    translate: 0 -50px;
  }
  to {
    opacity: 1;
    translate: 0;
  }
}

@keyframes climb-top {
  from {
    opacity: 0;
    translate: 0 500px;
  }
  to {
    opacity: 1;
    translate: 0;
  }
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes grow-left {
  from {
    opacity: 0;
    clip-path: inset(0 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes gradient-animation {
  to {
    background-position: -200%;
  }
}

/*#endregion */

/*#region MediaQuerys*/

@media (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1rem;
  }
}

/* Responsive Container */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .section {
    padding: calc(2 * var(--padding-md)) 0;
  }
  .self-right {
    text-align: center;
  }
  .self-left {
    text-align: center;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

@media (max-width: 475px) {
  .container {
    padding: var(--padding-sm);
    padding-bottom: 0;
  }
  .section p {
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    text-align: left;
  }
  .full-section {
    padding: calc(2 * var(--padding-md)) var(--padding-sm);
  }
  .self-right {
    text-align: left;
  }
  .self-left {
    text-align: left;
  }
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
  }
}

/*#endregion */
