:root {
	--primary-color: #D5DBCE;
	--secondary-color: #191919;
	--tertiary-color: #7B9080;
	--accent-color: #8F8861;

	--margin-sm: 100px;

	--padding-lg: 3rem;
	--padding-md: 2rem;
	--padding-sm: 1rem;

	--gap-lg: 50px;
	--gap-md: 30px;
	--gap-sm: 10px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	/* vertical-align: baseline; */
}
html {
	height: 100%;
}
body {
	background-color: var(--primary-color);
	min-height: 100%;
	display: flex;
	flex-direction: column;
	/* line-height: 1; */
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
ol, ul {
	list-style: none;
}
h1 {
	color: var(--secondary-color);
	font-size: 4.3rem;
}
h2 {
	font-size: 3.5rem;
}
h3 {
	color: var(--tertiary-color);
	font-size: 2.8rem;
}
h2, p {
	color: var(--accent-color);
}
a {
	text-decoration: none;
	color: inherit;
}

.container {
    position: relative;
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
}

/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
	h1 {
		font-size: 3rem;
	}
	h3 {
		font-size: 2rem;
	}
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
	h1 {
		font-size: 2.4rem;
	}
	h3 {
		font-size: 1.6rem;
	}
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
}

/* xs */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
	h1 {
		font-size: 2.8rem;
	}
	h3 {
		font-size: 1.8rem;
	}
}