.profileContainer {
  max-width: var(--section-max-w);
  height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.image {
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.section {
  max-width: var(--section-max-w);
  padding: calc(2 * var(--padding-lg));
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--gap-lg);
}

.text {
  line-height: 2rem;
}

.tags {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-lg);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-md);
}

@media (max-width: 1280px) {
  .image {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .image {
    width: 250px;
    height: 250px;
  }
  .tags {
    gap: var(--gap-md);
  }
  .skills {
    justify-content: space-evenly;
    gap: var(--gap-md);
  }
}

@media (max-width: 768px) {
  .image {
      width: 200px;
      height: 200px;
  }
  .section {
    padding: calc(2 * var(--padding-md));
  }
  .skills {
    justify-content: space-around;
    gap: var(--gap-sm);
  }
}

@media (max-width: 640px) {
  .profileContainer {
    flex-direction: column;
    text-align: center;
  }
  .image {
      width: 250px;
      height: 250px;
  }
  .tags {
    gap: var(--gap-sm);
  }
}

@media (max-width: 475px) {
  .profileContainer,
  .infoContainer {
    gap: var(--gap-sm);
  }
  .image {
      width: 80%;
      height: auto;
  }
  .tags {
    display: none;
  }
  .skills {
    width: 100vw;
    justify-content: space-around;
  }
}