.container {
  gap: var(--gap-lg);
}

.credits {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--gap-lg);
  /* margin: var(--gap-lg) 0; */
}

.creditItem:hover {
  scale: 110%;
}

.icon {
  object-fit: contain;
}

.icon:hover {
  scale: 125%;
}
