.portafolio-body {
  background-color: var(--secondary-color);

  /* h1,
  h4 {
    color: var(--primary-color);
  } */

  /* h2,
  p {
    color: var(--accent-color);
  }

  h3 {
    color: var(--tertiary-color);
  } */
}
